<%= content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.tokenInput.js" %>
<% end %>


<%= content_for :javascript_includes do %>
  <%= javascript_include_tag "tagInput.js" %>
<% end %>

<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :assigned_to %><br />
    <%= f.select(:assigned_to_id, options_for_select(@users,:selected => @selected_user ),{}, { :class => "user-select", "data-placeholder" =>"Choose a User"} ) %>
  </div>

  <div class="field">
    <%= f.label "information" %><br />
    <%= f.text_area :info , :rows => 3%>
  </div>
  
  <div class="field">
    <%= f.label :incident_type %><br />
    <%= f.radio_button(:incident_type, 1) %>
    <%= f.label(:incident_type_1, "positive") %>
    <%= f.radio_button(:incident_type, -1) %>
    <%= f.label("incident_type_-1", "negative") %>
  </div>

  <div class="field">
    <%= f.label "Tags" %><br />
    <%= f.text_field :tag_ids, "data-pre" => @selected_tags.to_json %>
  </div>


  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
