<p id="notice"><%= notice %></p>

<p>
  <b>Date: </b>
  <%= @incident.created_at %>
</p>

<p>
  <b>Creator: </b>
  <%= link_to @incident.creator.name ,user_path(@incident.creator) %>
</p>

<p>
  <b>Assigned to: </b>
  <%= link_to @incident.assigned_to.name ,user_path(@incident.assigned_to) %>
</p>


  <b>Information: </b>
  <div id = "infoField">
    <%= @incident.info %>
  </div>

<p>

  <b>Type:</b>
  <%= @incident.type %>
</p>

<p>
  <b>Score:</b>
  <%= @incident.score %>
</p>

<p>
  <b>Tags:</b>
  <% @incident.tags.each do |tag| %>
  	<%= link_to tag.name , tag_path(tag),:class => 'button' %>
  <% end %>
</p>


<%= link_to 'Back', incidents_path %>
