<p id="notice"><%= notice %></p>

<p>
  <b>Info:</b>
  <%= @incident.info %>
</p>

<p>
  <b>Type:</b>
  <%= @incident.incident_type %>
</p>

<p>
  <b>Score:</b>
  <%= @incident.score %>
</p>


<%= link_to 'Back', incidents_path %>
