<div id="navbar">
	<% if user_signed_in? %>
		<%= image_tag current_user.avatar.url(:thumb) %>
		<%= link_to "#{current_user.first_name} #{current_user.last_name}" ,  edit_user_registration_path %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> or
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>